<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>

<fieldset>
    <div class="login">
        <div class="form-username">
            <input value="" aria-required="true"/>
            <span>Username</span>
        </div>
        <div class="form-password">
            <input value="" type="password"/>
            <span>Password</span>
        </div>
    </div>
    <button type="submit" class="form-button">
        <span>Вход</span>
    </button>
</fieldset>

</body>
</html>