<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Card</title>
</head>
<body>
    <h1>Title of the card</h1>
    <h2>Articles:</h2>
    <ul>
        <li>resource</li>
        <li>resource</li>
        <li>resource</li>
        <li>resource</li>
    </ul>
    <h2>Books</h2>
    <ul>
        <li>Book 1</li>
        <li>Book 2</li>
        <li>Book 3</li>
    </ul>
    <h2>Notes</h2>
    <p>Dfjdlfjsl jf;lsd j;lsdjf sofjoweijfw[ojfsdl;fj sdlfj slfjs;fjs jdsfj lsfj lsjf lsjfj sdlfjweoeofo df</p>
</body>
</html>